.subfolders-container {
  display: flex;
  flex-direction: column;
}
.ui-tree {
  margin: 50px;
}

.link {
  display: flex;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: center;
}

.global {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.description {
  padding: 0 30px;
  max-width: 20%;
}
.news {
  padding: 0 30px;
  max-width: 20%;
}
.links {
  display: flex;
  flex-direction: column;
}
